/*
* @Author: msi-pc
* @Date:   2017-08-07 02:22:12
* @Last Modified by:   msi-pc
* @Last Modified time: 2017-08-16 13:50:25
*/
.nav{
	background: #eee;
	height: 30px;
	line-height: 30px;
}
/*用户部分*/
.nav .user{
	float: left;
}
.nav .user.login{  
	/*既有user又有login*/
	display: none;
}
.nav .user .link{
	margin-right: 5px;
}
/*导航链接部分*/
.nav .nav-list{
	float: right;
}
.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}