/*
* @Author: msi-pc
* @Date:   2017-08-16 14:33:33
* @Last Modified by:   msi-pc
* @Last Modified time: 2017-08-16 14:42:13
*/

.footer {
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	padding:0 10px;
}
.footer .copyright {
	text-align: center;
	color: #666;
	line-height: 30px;
}