/*
* @Author: msi-pc
* @Date:   2017-08-07 00:27:39
* @Last Modified by:   msi-pc
* @Last Modified time: 2017-08-07 02:27:52
*/

.nav-simple{
	height: 60px;
	line-height: 60px;
	background: #fff;
	border-bottom: #fff;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}

